/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* ############ Light mode palettes ################ */

$primary-palette: (
  100: #dbe7ff,
  500: #1e4593,
  700: #122b5e,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: white,
    700: white
  )
);

$accent-palette: (
  100: #fff3bf,
  500: #f1c40f,
  700: #d4ac0d,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: rgb(0 0 0 / 87%),
    700: rgb(0 0 0 / 87%)
  )
);

/* ############ Dark mode palettes ################ */

$dark-primary-palette: (
  100: #dbe7ff,
  500: #4f7bd1,
  700: #1e4593,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: white,
    700: white
  )
);

$dark-accent-palette: (
  100: #fff3bf,
  500: #f1c40f,
  700: #d4ac0d,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: rgb(0 0 0 / 87%),
    700: rgb(0 0 0 / 87%)
  )
);
